<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="WeatherUnderGroundKey" value="{put in your own key from https://www.wunderground.com/weather/api/}"/>
  </appSettings>
</configuration>